.contact-container {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4; 
    min-height: 100vh;
  }
  
  .contact-container h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  /* Estilos del formulario */
  .contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Estilo para cada campo del formulario */
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group textarea {
    height: 150px;
    resize: none;
  }
  
  /* Estilo del botón de envío */
  button {
    padding: 12px 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  